@import "./main.scss";

.custom__card {
  padding: 0rem 0rem 0rem .75rem;

  .custom__card__title {
    font-size: .67rem;
    text-transform: uppercase;
  }

  img {
    height: 140px;

    &.dino-img,
    &.water-img {
      height: auto;
      max-width: 93%;
      margin-bottom: 20px;
    }

    &.cooking-img {
      height: auto;
      width: 92%;
      margin-left: 2%;
    }

    &.theatre-img {
      height: auto;
      width: 90%;
    }
  }

  &.second,
  &.third {
    margin-top: 35px;

    .custom__card__title {
      text-align: center;
      font-size: .8rem;
      line-height: 1.2;
      margin-bottom: 5px !important;
    }

    img {
      height: auto;
      max-width: 95%;
    }
  }

  .custom__card__text {
    text-align: center;
    font-size: .48rem;
    line-height: 1.2;
    margin: 8px 0;

    &.dino-text,
    &.water-text {
      line-height: 1.4;
      margin: 8px 15px;
    }

    &.cooking-text,
    &.theatre-text {
      color: $black;
      margin: 1rem 0;
      line-height: 1.4;
      font-size: .6rem;
    }

    &.theatre-text {
      color: $white;
      font-size: .5rem;
      width: 88%;
    }
  }
}