@import "~bootstrap/scss/bootstrap";

// Fonts
@font-face {
  font-family: "pantonBlackCaps";
  src: url("../fonts/pantonBlackCaps.otf") format("opentype");
}

@font-face {
  font-family: "avenirMedium";
  src: url("../fonts/avenirMedium.otf") format("opentype");
}

@font-face {
  font-family: "avenirSemiBold";
  src: url("../fonts/avenirSemiBold.otf") format("opentype");
}

// Variables
$white: #ffffff;
$black: #434343;
$red: #E80E0F;
$grey: #636363;
$softGrey: #A6A6A6;
$imagesPath: "../img/";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  color: $white;
}

img {
  max-width: 100%;
}
